* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
}

header {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 10vh;
}

.container {
  min-width: 1440px;
  max-width: 1440px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #6f6f6f 50%, #3f3f3f);
  border-radius: 10px;
  padding: 0 5px;
  height: 40px;
  width: 100%;
  position: relative;
  z-index: 3;
  border: 1px solid #5f5f5f;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: 980px;
  }
}

.navbar-start {
  flex: 1;
  text-align: center;
}

.navbar-center {
  flex: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-end {
  flex: 2;
  padding-left: 5px;
}

.nav-elemnt {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  width: 100px;
  border: 1px solid #555;
  text-align: center;
}

.nav-elemnt:hover {
  background-image: linear-gradient(to bottom, #444 50%, #494949);
}

.search-input {
  position: relative;
  color: #fff;
  border-radius: 10px;
}

.submit {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.search-input:focus-within {
  color: #5f5f5f;
  width: 120%;
}

.input {
  border-radius: 10px;
  background-image: linear-gradient(to top, #838383 30%, #5f5f5f);
  border: 1px solid #5f5f5f;
  height: 25px;
  width: 100%;
  padding-left: 25px;
  display: block;
}

.input:focus {
  background: #fff;
}

.slide {
  position: relative;
  background-image: url('../images/your_verse_hero.jpg');
  height: 65vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.title {
  font-size: 2.8rem;
  font-weight: 500;
}

.sub-title {
  font-size: 1.5rem;
  max-width: 600px;
}

.sub-title-2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  margin-left: 15px;
  cursor: pointer;
}

.promos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 0;
}

.pro-elment {
  height: 200px;
  background-size: cover;
  
}

.p1 {
  background-image: url('../images/promo_iphone5s.jpg');
}

.p2 {
  background-image: url('../images/promo_iphone5c.jpg');
}

.p3 {
  background-image: url('../images/promo_30_years.jpg');
}

.p4 {
  background-image: url('../images/promo_supplier_responsibility.jpg');
}

footer {
  padding-top: 15px;
  font-size: 10px;
  max-width: 1000px;
  margin: 30px auto;
  
}

footer a {
  color: #08c;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

ul li {
  margin: 0 5px;
}
